{% extends 'base.html.twig' %}

{% block title %}Lote{% endblock %}

{% block body %}
    <h1>Lote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lote.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ lote.codigo }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ lote.archivo }}</td>
            </tr>
            <tr>
                <th>BrochureFilename</th>
                <td>{{ lote.brochureFilename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lote_index') }}">back to list</a>

    <a href="{{ path('lote_edit', {'id': lote.id}) }}">edit</a>

    {{ include('lote/_delete_form.html.twig') }}
{% endblock %}
